<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
 </HEAD>

 <BODY>
  <TABLE>
  <TR>
	<TD>用户名</TD>
	<TD>${userName}</TD>
	<TD>地址</TD>
	<TD>${address}</TD>
  </TR>
  </TABLE>
 </BODY>
</HTML>
